@font-face {
    font-family: 'Siemreap';
    src: url('Siemreap.eot');
    src: url('Siemreap.eot?#iefix') format('embedded-opentype'),
        url('Siemreap.woff2') format('woff2'),
        url('Siemreap.woff') format('woff'),
        url('Siemreap.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}